<div
  role="alert"
  class="message message--{{@type}} {{
    if
    @dismissable
    (if this.isDismissed "message--dismissed" "message--revealed")
  }}"
  ...attributes
  {{did-insert this.registerElement}}
>
  <div class="message__body">
    {{yield}}
  </div>
  {{#if @dismissable}}
    <button
      type="button"
      class="message__dismiss"
      {{on "click" this.dismiss}}
    ></button>
  {{/if}}
</div>